<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title: PyScript</title>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <py-env>
        - paths:
            - /aa.py
    </py-env>
</head>
<body>
    <h1>Let's print random number</h1>
    <b>Doe's lucky number is <label id="lucky"></label></b>
    <py-script>
        from aa import generate_random_number
        pyscript.write('lucky', generate_random_number())
    </py-script>
</body>
</html>